<div class="component-title">{{title}}</div>
<div class="component-body" [formGroup]="applicantForm" id="applicantForm">
    <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-8">
            <input type="text" id="name" formControlName="name" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="age" class="col-sm-3 col-form-label">Age</label>
        <div class="col-sm-8">
            <input type="text" id="age" formControlName="age" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfBirth" class="col-sm-3 col-form-label">Date of Birth</label>
        <div class="col-sm-8">
            <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary">Next</button>
        </div>
    </div>
</div>