.component-body {
    margin-left: 20px;
    padding-top: 20px;
}

.component-title{
    height:  43px;
    background: #1976d2;
    top: 0;
    left: 0;
    color: #c2c3c4;
    width: 100%;
    font-size: 1rem;
    line-height: 0;
    padding: 20px 0;
    text-indent: 5px;
    padding-left: 15px;
}